html {
    box-sizing: border-box;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 2rem;
    background-color: rgb(187, 179, 194);
    line-height: 125%;
    color: rgb(108, 31, 180)
  }
  
  .endtext {
    float: bottom, left;
    width: 350px;
    height: 210px;
    padding: 65px 9px 0px 13px; 
    border-radius: 10%;
    margin: 40px auto;
    outline: dotted rgb(146, 46, 212);
    box-shadow: 10px 8px 2px #ccc;
  }
  
.endtext {
  background-color: rgb(169, 179, 84);
}

.bio {
  background-color: rgb(169, 179, 84);
}

@media screen and (max-width: 600px) {
  body {
background-color: rgb(74, 61, 83);
  }
}

@media screen and (max-height: 600px) {
  body {
background-color: rgb(102, 90, 110);
  }
}

img {
  float: center;
  max-width: 30%;
  margin-left: 12%;
  margin-right: 9%;
  border-radius: 50%;
  box-shadow: 10px 8px 2px #ccc;
  shape-outside: circle(50%);
  outline: dotted 4px rgb(146, 46, 212);
}

.bio{
  float: right;
  max-width: 30%;
  margin-left: 40%;
  margin-right: 20%;
  border-radius: 10%;
  box-shadow: 10px 8px 2px #ccc;
  shape-outside: circle(90%);
  outline: dotted 4px rgb(146, 46, 212);
  font-size: .5rem;
  text-align: center .5rem;
}