html {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: large;
    line-height: 1.5;
    color: rgb(60, 85, 197);
}

  a:hover {
      background-color: rgb(50, 150, 80);
  }

nav a:link {
 
}
  
  nav{
  float: center;
  text-align: center;
  top: 0;
  background-color: rgba(40, 126, 83, 0.514);
  transform:none
  }

  p {
    text-align: center;
    font-size: medium;
    font-weight: 700;
    font-style: initial;
    line-height: 5em;
    letter-spacing: 0.6rem;
  }
  
ul {
    margin: 0%;
    background-color: rgb(57, 175, 83);
  }

  header {
    text-align: center;
  }

  .fade-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.elogo {
  display: block;
  width: 150px;
  height: 6em;
  object-fit: fill;
  object-position: 15% 100%;
}

.plogo {
  width: 150px;
  height: 6em;
  object-fit: fill;
  object-position: 15% 100%;
}

ul::before {
  content: "\1F527";
  font-size: 2rem;
}

ul::after{
  content: "\1F527";
  font-size: 2rem;
}

h1{
  background-image: linear-gradient(60deg, red, blue, purple, green);
}


@media screen and (max-width: 600px) {
  body {
background-color: rgb(54, 175, 115);
  }
}

@media screen and (max-height: 600px) {
  body {
background-color: rgb(53, 148, 77);
  }
}
